# Oficina 1.1

O consumo excessivo de álcool é um problema grave de saúde pública, você não acha? Imagine que você é um cientista de dados trabalhando em uma equipe da Organização Mundial da Saúde (OMS), cujo objetivo é desenvolver relatórios sobre o consumo de álcool no mundo. Tudo certo até aqui? Então, vamos continuar!

Foram coletados dados de diferentes países, indicando o consumo de cerveja (beer), licor (spirit) e vinho (wine), e o consumo de litros de álcool por pessoa do país no ano de 2010. Seu trabalho, então, é responder a algumas perguntas sobre os dados que irão ajudar a compor o relatório. Vamos lá?

1. Qual a média e desvio padrão do consumo de cerveja, licor, vinho e total de álcool?
2. Qual o consumo de licor na França?
3. Quais os 5 países nos quais se consome mais vinho?
4. Quais os países nos quais o consumo de cerveja está acima da média?
5. Quais países nos quais o consumo total de álcool está acima do Brasil, em ordem do menor para o maior?

Para responder a essas questões, você deve usar os dados disponibilizados nesta página: 
[dados para baixar](https://d11s0xq1vqg039.cloudfront.net/videos_conteudo/visual/micro01/oficina/arquivos/dadosoficina01.txt)

Baixe o conjunto de dados, selecionando o link e clicando com o botão direito do mouse ou usando a tecla Aplicação. Então, escolha a opção “Salvar como…”, e salve o arquivo com o nome drinks.txt. Na mesma pasta em que você salvou os dados, crie um Jupyter Notebook, importe a biblioteca pandas e carregue os dados com os comandos:

In [72]:
import pandas as pd
df = pd.read_csv('https://d11s0xq1vqg039.cloudfront.net/videos_conteudo/visual/micro01/oficina/arquivos/dadosoficina01.txt')

A partir daí, você deverá responder a cada pergunta em uma célula diferente. Note que existem várias formas diferentes de chegar ao resultado da resposta. Além disso, você pode fazer comentários sobre conclusões a respeito dos dados para enriquecer as suas respostas.

---
Resolução

In [73]:
df

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
0,Afghanistan,0,0,0,0.0
1,Albania,89,132,54,4.9
2,Algeria,25,0,14,0.7
3,Andorra,245,138,312,12.4
4,Angola,217,57,45,5.9
...,...,...,...,...,...
188,Venezuela,333,100,3,7.7
189,Vietnam,111,2,1,2.0
190,Yemen,6,0,0,0.1
191,Zambia,32,19,4,2.5
192,Zimbabwe,64,18,4,4.7

In [74]:
print('\nCerveja')
print(f'O média é {df.beer_servings.mean():.2f} e desvio padrão é {df.beer_servings.std():.2f}')

print('\nLicor')
print(f'O média é {df.spirit_servings.mean():.2f} e desvio padrão é {df.spirit_servings.std():.2f}')

print('\nVinho')
print(f'O média é {df.wine_servings.mean():.2f} e desvio padrão é {df.wine_servings.std():.2f}')


print('\nTotal Álcool')
print(f'O média é {df.total_litres_of_pure_alcohol.mean():.2f} e desvio padrão é {df.total_litres_of_pure_alcohol.std():.2f}')

Cerveja
O média é 106.16 e desvio padrão é 101.14

Licor
O média é 80.99 e desvio padrão é 88.28

Vinho
O média é 49.45 e desvio padrão é 79.70

Total Álcool
O média é 4.72 e desvio padrão é 3.77

In [75]:
print(f"A quantidade de Licor na França é {df[df.country == 'France'].spirit_servings.values[0]}")

A quantidade de Licor na França é 151

In [76]:
print('Lista dos 5 países que mais se consome vinho:')
df_wine = df.sort_values(by='wine_servings', ascending = False)
print(df_wine[:5].country.values)

Lista dos 5 países que mais se consome vinho:
['France' 'Portugal' 'Andorra' 'Switzerland' 'Denmark']

In [93]:
print('Lista de Países em que o consumo de cerveja está acima da média:')

beer_mean = df.beer_servings.mean()
print(f'Média de consumo de cerveja é {beer_mean:.2f}\n')

df_more_beer = df[df.beer_servings > beer_mean]

print(df_more_beer.country.values)

print(df_more_beer[['country','beer_servings']])

Lista de Países em que o consumo de cerveja está acima da média:
Média de consumo de cerveja é 106.16

['Andorra' 'Angola' 'Argentina' 'Australia' 'Austria' 'Bahamas' 'Barbados'
 'Belarus' 'Belgium' 'Belize' 'Bolivia' 'Botswana' 'Brazil' 'Bulgaria'
 'Cabo Verde' 'Cameroon' 'Canada' 'Chile' 'Colombia' 'Costa Rica'
 'Croatia' 'Cyprus' 'Czech Republic' 'Denmark' 'Dominican Republic'
 'Ecuador' 'Estonia' 'Finland' 'France' 'Gabon' 'Germany' 'Greece'
 'Grenada' 'Hungary' 'Iceland' 'Ireland' 'Kazakhstan' 'Latvia' 'Lithuania'
 'Luxembourg' 'Malta' 'Mexico' 'Namibia' 'Netherlands' 'New Zealand'
 'Niue' 'Norway' 'Palau' 'Panama' 'Paraguay' 'Peru' 'Poland' 'Portugal'
 'South Korea' 'Moldova' 'Romania' 'Russian Federation'
 'St. Kitts & Nevis' 'St. Lucia' 'St. Vincent & the Grenadines' 'Serbia'
 'Seychelles' 'Slovakia' 'Slovenia' 'South Africa' 'Spain' 'Suriname'
 'Sweden' 'Switzerland' 'Trinidad & Tobago' 'Ukraine' 'United Kingdom'
 'USA' 'Uruguay' 'Venezuela' 'Vietnam']
            country  beer_servings
3           Andorra            245
4            Angola            217
6         Argentina            193
8         Australia            261
9           Austria            279
..              ...            ...
182  United Kingdom            219
184             USA            249
185         Uruguay            115
188       Venezuela            333
189         Vietnam            111

[76 rows x 2 columns]

In [94]:
print('Lista de Países em que o consumo de cerveja está acima do consumo no Brasil:')

total_brazil = df[df.country == 'Brazil'].total_litres_of_pure_alcohol.values[0]

print(f'Total de consumo de cerveja no Brasil é {total_brazil:.2f}\n')

df_country_great_brazil = df[df.total_litres_of_pure_alcohol > total_brazil]

df_country_great_brazil = df_country_great_brazil.sort_values(by='total_litres_of_pure_alcohol', ascending = False)

print(df_country_great_brazil.country.values)

print(df_country_great_brazil[['country','total_litres_of_pure_alcohol']])

Lista de Países em que o consumo de cerveja está acima do consumo no Brasil:
Total de consumo de cerveja no Brasil é 7.20

['Belarus' 'Lithuania' 'Andorra' 'Grenada' 'France' 'Czech Republic'
 'Russian Federation' 'Luxembourg' 'Ireland' 'Slovakia' 'Germany'
 'Hungary' 'Portugal' 'Poland' 'Slovenia' 'Latvia' 'Belgium' 'Romania'
 'Denmark' 'United Kingdom' 'Australia' 'Bulgaria' 'Croatia' 'Switzerland'
 'St. Lucia' 'Spain' 'Finland' 'South Korea' 'Austria' 'Serbia' 'Estonia'
 'Netherlands' 'New Zealand' 'Nigeria' 'Gabon' 'Ukraine' 'USA' 'Argentina'
 'Greece' 'Uganda' 'South Africa' 'Cyprus' 'Canada' 'St. Kitts & Nevis'
 'Venezuela' 'Chile' 'Paraguay']
                country  total_litres_of_pure_alcohol
15              Belarus                          14.4
98            Lithuania                          12.9
3               Andorra                          12.4
68              Grenada                          11.9
61               France                          11.8
45       Czech Republic                          11.8
141  Russian Federation                          11.5
99           Luxembourg                          11.4
81              Ireland                          11.4
155            Slovakia                          11.4
65              Germany                          11.3
75              Hungary                          11.3
136            Portugal                          11.0
135              Poland                          10.9
156            Slovenia                          10.6
93               Latvia                          10.5
16              Belgium                          10.5
140             Romania                          10.4
48              Denmark                          10.4
182      United Kingdom                          10.4
8             Australia                          10.4
25             Bulgaria                          10.3
42              Croatia                          10.2
166         Switzerland                          10.2
144           St. Lucia                          10.1
160               Spain                          10.0
60              Finland                          10.0
138         South Korea                           9.8
9               Austria                           9.7
151              Serbia                           9.6
57              Estonia                           9.5
120         Netherlands                           9.4
121         New Zealand                           9.3
124             Nigeria                           9.1
62                Gabon                           8.9
180             Ukraine                           8.9
184                 USA                           8.7
6             Argentina                           8.3
67               Greece                           8.3
179              Uganda                           8.3
159        South Africa                           8.2
44               Cyprus                           8.2
32               Canada                           8.2
143   St. Kitts & Nevis                           7.7
188           Venezuela                           7.7
35                Chile                           7.6
132            Paraguay                           7.3