## Exercícios de Expressões Regulares em Python

Créditos:
- https://medium.com/data-hackers/6-dicas-sobre-express%C3%B5es-regulares-em-python-238bed9ccdad
- https://realpython.com/python-web-scraping-practical-introduction/

### Exercício 01

Acessar o site https://www.gutenberg.org/browse/scores/top e salvar os dados dos 10 primeiros livros mais baixados nos últimos 30 dias.

No site os dados se encontram com a seguinte estrutura:
1. Pride and Prejudice by Jane Austen (55154)
2. Nome do Livro by Nome do Autor (Número de Downloads)

Extrair apenas o número de downloads e depois os nomes dos livros e os nomes dos autores, colocando tudo isso em um DataFrame do Pandas.

In [2]:
url = 'https://www.gutenberg.org/browse/scores/top'

In [3]:
from urllib.request import urlopen
import re

In [4]:
page = urlopen(url)
html_bytes = page.read()
a = html_bytes
html = html_bytes.decode("utf-8")

In [5]:
# Dividindo o texto do html a partir do id 'books-last30'
top_100ebooks_last30days = html[html.find('id="books-last30"'):]
# Pesquisando o início e fim da lista ordenada que contém os dados
ol_tag_open_index = top_100ebooks_last30days.find("<ol>")
ol_tag_close_index = top_100ebooks_last30days.find("</ol>")
top_100ebooks_last30days_li_tags = top_100ebooks_last30days[ol_tag_open_index+4:ol_tag_close_index]

In [99]:
# Texto dos 10 primeiros livros mais baixados nos últimos 30 dias
top_10 = '\n'.join(re.findall(r'>([^<>/=\n]+)<',top_100ebooks_last30days_li_tags)[:10])
print(top_10)

Frankenstein; Or, The Modern Prometheus by Mary Wollstonecraft Shelley (90498)
Pride and Prejudice by Jane Austen (57630)
The Scarlet Letter by Nathaniel Hawthorne (39513)
Alice's Adventures in Wonderland by Lewis Carroll (28206)
Dracula by Bram Stoker (27095)
A Christmas Carol in Prose; Being a Ghost Story of Christmas by Charles Dickens (24647)
Moby Dick; Or, The Whale by Herman Melville (24262)
A Doll's House : a play by Henrik Ibsen (22744)
The Picture of Dorian Gray by Oscar Wilde (21970)
A Modest Proposal by Jonathan Swift (20993)

In [20]:
# Salvando os dados downloads
downloads = re.findall(r'(\d+)',top_10)
downloads

['90498',
 '57630',
 '39513',
 '28206',
 '27095',
 '24647',
 '24262',
 '22744',
 '21970',
 '20993']

In [57]:
books_names = re.findall(r'.+(?=\sby)',top_10) 
books_names

['Frankenstein; Or, The Modern Prometheus',
 'Pride and Prejudice',
 'The Scarlet Letter',
 "Alice's Adventures in Wonderland",
 'Dracula',
 'A Christmas Carol in Prose; Being a Ghost Story of Christmas',
 'Moby Dick; Or, The Whale',
 "A Doll's House : a play",
 'The Picture of Dorian Gray',
 'A Modest Proposal']

In [60]:
books_author = re.findall(r'(?<=\sby\s)[\w\s.,]+',top_10)
books_author

['Mary Wollstonecraft Shelley ',
 'Jane Austen ',
 'Nathaniel Hawthorne ',
 'Lewis Carroll ',
 'Bram Stoker ',
 'Charles Dickens ',
 'Herman Melville ',
 'Henrik Ibsen ',
 'Oscar Wilde ',
 'Jonathan Swift ']

In [67]:
import pandas
from IPython.display import HTML

In [96]:
df = pandas.DataFrame({
    'Books Title':books_names,
    'Author': books_author,
    'Downloads': downloads
})
df.index = range(1,len(df)+1)

In [97]:
df

,Books Title,Author,Downloads
1,"Frankenstein; Or, The Modern Prometheus",Mary Wollstonecraft Shelley,90498
2,Pride and Prejudice,Jane Austen,57630
3,The Scarlet Letter,Nathaniel Hawthorne,39513
4,Alice's Adventures in Wonderland,Lewis Carroll,28206
5,Dracula,Bram Stoker,27095
6,A Christmas Carol in Prose; Being a Ghost Stor...,Charles Dickens,24647
7,"Moby Dick; Or, The Whale",Herman Melville,24262
8,A Doll's House : a play,Henrik Ibsen,22744
9,The Picture of Dorian Gray,Oscar Wilde,21970
10,A Modest Proposal,Jonathan Swift,20993