## Curso de Python para Machine Learning

---
### Aula 1.1 - Programação Funcional, Funções Anônimas e Funções Puras

As funções utilizadas na programação funcionais devem retornar um valor de saída sem qualquer outra alteração ou efeito, utilizando somente os valores de entrada da função. Essas funções são mais específicas que as utilizadas na programação procedural e na programação orientada a objetos.

Funções Impuras: são funções utilizam valores/variáveis que estão fora do escopo da função, pondendo retornar valores diferentes de saída para um mesmo dado de entrada - são consideradas como programação procedural ou orientada a objetos.  
Para que uma função seja utilizada como paradigma de programação funcional, a mesma deverá ser pura.

**Exemplo de Programação Não Funcional**

In [88]:
a = 5
def soma(b):
    b = b + a
    return b
print(soma(1))

6

A função `soma` utiliza uma variável externa a função, por isso o resultado retornado por ela poderá mudar mesmo que os parâmetros de entrada não sejam alterados.  
Por exemplo,em um segundo momento, a chamada da função com o mesmo valor - `soma(1)` - pode retornar um resultado diferente devido uma alteração na variável `a`

In [65]:
a = 10
print(soma(1))

11

**Exemplo de Função Recursiva**  
**Fatorial de um número**

In [66]:
def fatorial(n):
    if n == 0:
        return 1
    return n*fatorial(n-1)

In [67]:
print(fatorial(5))

120

In [ ]:
#### Funções Anônimas *ou* Funções Lambda
São funções que não possuem nome, são definidas usando a palavra reservarda lambda.  
Geralmente são funções simples, de somente uma linha.

In [68]:
# Função Lambda para converter primeira letra de uma palavra para maiúscula
lambda s: s[0].upper() + s[1:]

Caso seja necessário chamar uma função lambda, a mesma pode ser atribuída a uma variável:

In [69]:
n_quadrado = lambda x: x*x
n_quadrado(5)

25

In [71]:
def filtrar(lista_idades, criterio):
    '''Filtra uma lista de idades de acordo com o critérios passados'''
    nova_lista = []
    for idade in lista_idades:
        if criterio(idade):
            nova_lista.append(idade)
    return nova_lista

Considere a função `filtrar` acima, que recebe uma lista de idades e um segundo parametro `criterio`, que deverá ser uma função que retorna verdadeiro se a idade passada atender a algum critério definido.

Poderíamos criar um função `maior_idade` que verifica uma idade passada e retorna verdadeiro (`True`) se a idade for maior ou igual que 18:

In [72]:
def maior_idade(idade):
    return idade >= 18

Dessa forma, dada uma lista qualquer de idades, podemos verificar e filtrar somente as idades maiores ou iguais a 18

In [73]:
idades = [15,65,18,2,9,45,65,99]
filtrar(idades, maior_idade)

[65, 18, 45, 65, 99]

Nesse exemplo podemos modificar a chamada da função `filtrar`, para que não precisemos criar funções auxiliares em outro lugar no código:

In [74]:
filtrar(idades, lambda x: x >= 18)

[65, 18, 45, 65, 99]

Dessa forma podemos filtrar com qualquer critério de forma mais simples

In [75]:
# Filtrando idades menores de 18
filtrar(idades, lambda x:x<18)

[15, 2, 9]

In [76]:
# Filtrando idades maiores de 65
filtrar(idades, lambda x:x>65)

[99]

In [77]:
# Filtrando idades entre 18 e 65 anos
filtrar(idades, lambda x: 18 <= x <= 65)

[65, 18, 45, 65]

**Exemplo utilizando a função `sorted`**  
Ordenando palavras por ordem alfabética

In [53]:
nomes = ['ana','Zóe','Clara','xande','abraao','fabineide']

A comparação entre `Z` - letra maiúscula - e letras minúsculas é realizada utilizando o valor representativo da tebala ASCII desses caracteres.  
O valor de Z na tabela ASCII é `90` e o valor de `a` é 97, logo palavras que começem com Z serão ordenadas antes. Isso acontece com todas os caracteres maiúsculos, que possuem valores na tabela ASCII menores que letras minúsculas - [Mais sobre a tabela ASCII](https://www.ime.usp.br/~pf/algoritmos/apend/ascii.html)

In [54]:
print(f"Valor de 'A' na tabela ASCII: {ord('A')}")
print(f"Valor de 'Z' na tabela ASCII: {ord('Z')}")
print(f"Valor de 'a' na tabela ASCII: {ord('a')}")
print(f"Valor de 'z' na tabela ASCII: {ord('z')}")

Valor de 'A' na tabela ASCII: 65
Valor de 'Z' na tabela ASCII: 90
Valor de 'a' na tabela ASCII: 97
Valor de 'z' na tabela ASCII: 122

Dessa forma chamando a função `sorted` com a lista de nome, o resultado não é o esperado:

In [57]:
sorted(nomes)

['Clara', 'Zóe', 'abraao', 'ana', 'fabineide', 'xande']

Incluíndo uma função Lambda que converta todos os strings para minúsculos (ou maiúsculos), conseguiremos ordenar alfabeticamente as palavras

In [58]:
sorted(nomes,key = lambda x: x.lower())

['abraao', 'ana', 'Clara', 'fabineide', 'xande', 'Zóe']

#### Funções Puras em Python

__Função `map`__  
Essa função recebe dois argumentos:  
map(function, *iterable)

- O primeiro é uma função
- O segundo é um conjunto de dados ou um objeto iterável

A função passada como parâmentro é aplicada a cada elemento do conjunto de dados passado

In [105]:
valores = [1.2569, 3.5682, 4.2561, 1.6897, 5.5662]
[valor for valor in map(lambda x: round(x,2),valores)]

[1.26, 3.57, 4.26, 1.69, 5.57]

O retorno da função `map` é um objeto do tipo map - um iterador - logo devemos iterar sobre o retorno ou converter em outro objeto - uma lista por exemplo.

In [120]:
valores_inteiros_truncados = map(int,valores)
print(valores_inteiros_truncados)
print(type(valores_inteiros_truncados))

<map object at 0x7fa14a473a90>
<class 'map'>

In [121]:
list(valores_inteiros_truncados)

[1, 3, 4, 1, 5]

**Exemplo com classificação de notas de alunos**

In [190]:
alunos = [['João',6.5], ['Carlos',4.6], ['Alberto',8.6],
          ['Teresa',1.2], ['José',9.8], ['Alfredo',10], 
          ['Robin',6.9], ['Will',7.5], ['Fred',8.2], 
          ['Paulo',7.1]]

In [191]:
def aprovacao(aluno):
    if aluno < 4:
        return 'Reprovado'
    elif aluno < 7:
        return 'Recuperação'
    else:
        return 'Aprovado'

In [195]:
situacao_alunos = list(map(lambda x: x+[aprovacao(x[1])], alunos))
for aluno in situacao_alunos:
    print(aluno)

['João', 6.5, 'Recuperação']
['Carlos', 4.6, 'Recuperação']
['Alberto', 8.6, 'Aprovado']
['Teresa', 1.2, 'Reprovado']
['José', 9.8, 'Aprovado']
['Alfredo', 10, 'Aprovado']
['Robin', 6.9, 'Recuperação']
['Will', 7.5, 'Aprovado']
['Fred', 8.2, 'Aprovado']
['Paulo', 7.1, 'Aprovado']

  
**Função `filter`**

Podemos realizar uma filtragem no resultado anterior da lista de situação dos alunos para dividir o grupo em 3 grupos - Aprovados, Recuperação e Reprovados

In [200]:
aprovados = list(filter(lambda x: x[2]=='Aprovado',situacao_alunos))
for aluno in aprovados:
    print(aluno)

['Alberto', 8.6, 'Aprovado']
['José', 9.8, 'Aprovado']
['Alfredo', 10, 'Aprovado']
['Will', 7.5, 'Aprovado']
['Fred', 8.2, 'Aprovado']
['Paulo', 7.1, 'Aprovado']

In [201]:
recuperacao = list(filter(lambda x: x[2]=='Recuperação',situacao_alunos))
for aluno in recuperacao:
    print(aluno)

['João', 6.5, 'Recuperação']
['Carlos', 4.6, 'Recuperação']
['Robin', 6.9, 'Recuperação']

In [202]:
reprovados = list(filter(lambda x: x[2]=='Reprovado',situacao_alunos))
for aluno in reprovados:
    print(aluno)

['Teresa', 1.2, 'Reprovado']

**Funções `any` e `all`**

In [205]:
all(situacao_alunos)

True