# Visualização de Dados (em Python)

---
## Aula 1.1 - Explorando conjuntos de dados

### Introdução ao Big Data

Termo utilizado para grandes conjutos de dados que apresentam uma magnitude cada vez maior devido a expansão da tecnologia, comunicação e geração de dados a todo momento, tanto por empresas como por pessoas conetadas a internet.

#### Dataset Estruturados e Não-Estruturados

Os dados podem estar estruturados ou não, quando estão organizados com alguma estrutura de organização, diz-se que estão estruturados. A forma mais comum de dados estruturados são os representados por tabelas.

Dados como textos, audios e videos são não estruturados, pois não possuem uma estrutura específica para ser analisada, geralmente sendo armazenados na forma de bytes dentro de banco de dados.

#### Tipos de Dados

Os dados pode ser *Quantitativos* ou *Categóricos*

Dados quantitativos são aqueles que podem ser usados para realizar cálculos e operações, como média, mediana, desvio padrão.

Já as categóricas ou *Qualitativas* representam uma característica ou qualidade de algum forma do dado em questão.

#### Pandas

In [1]:
import pandas as pd

In [2]:
pares_ate_20 = pd.Series([0,2,4,6,8,10,12,14,16,18,20])

In [3]:
pares_ate_20

0      0
1      2
2      4
3      6
4      8
5     10
6     12
7     14
8     16
9     18
10    20
dtype: int64

In [4]:
pares_ate_20[5]

10

In [11]:
pares_ate_20.values

array([ 0,  2,  4,  6,  8, 10, 12, 14, 16, 18, 20])

In [12]:
dias_por_mes = pd.Series(
    [31,28,31,30,31,30,31,31,30,31,30,31],
    index=[
        'jan','fev','mar',
        'abr','mai','jun',
        'jul','ago','set',
        'out','nov','dez']
)

In [22]:
dias_por_mes.mean()

30.416666666666668

In [23]:
dias_por_mes['ago']

31

In [24]:
dias_por_mes.describe()

count    12.000000
mean     30.416667
std       0.900337
min      28.000000
25%      30.000000
50%      31.000000
75%      31.000000
max      31.000000
dtype: float64

In [26]:
dias_por_mes[0:6].sum()

181

In [28]:
dias_por_mes[6:].sum()

184

#### Dataframes

In [29]:
df_drinks = pd.read_csv('https://raw.githubusercontent.com/fivethirtyeight/data/master/alcohol-consumption/drinks.csv')

In [30]:
df_drinks

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
0,Afghanistan,0,0,0,0.0
1,Albania,89,132,54,4.9
2,Algeria,25,0,14,0.7
3,Andorra,245,138,312,12.4
4,Angola,217,57,45,5.9
...,...,...,...,...,...
188,Venezuela,333,100,3,7.7
189,Vietnam,111,2,1,2.0
190,Yemen,6,0,0,0.1
191,Zambia,32,19,4,2.5
192,Zimbabwe,64,18,4,4.7

In [37]:
df_drinks[df_drinks.total_litres_of_pure_alcohol > 10]

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
3,Andorra,245,138,312,12.4
8,Australia,261,72,212,10.4
15,Belarus,142,373,42,14.4
16,Belgium,295,84,212,10.5
25,Bulgaria,231,252,94,10.3
42,Croatia,230,87,254,10.2
45,Czech Republic,361,170,134,11.8
48,Denmark,224,81,278,10.4
61,France,127,151,370,11.8
65,Germany,346,117,175,11.3
68,Grenada,199,438,28,11.9
75,Hungary,234,215,185,11.3
81,Ireland,313,118,165,11.4
93,Latvia,281,216,62,10.5
98,Lithuania,343,244,56,12.9
99,Luxembourg,236,133,271,11.4
135,Poland,343,215,56,10.9
136,Portugal,194,67,339,11.0
140,Romania,297,122,167,10.4
141,Russian Federation,247,326,73,11.5
144,St. Lucia,171,315,71,10.1
155,Slovakia,196,293,116,11.4
156,Slovenia,270,51,276,10.6
166,Switzerland,185,100,280,10.2
182,United Kingdom,219,126,195,10.4

In [39]:
df_drinks[df_drinks.country == 'Brazil']

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
23,Brazil,245,145,16,7.2